{% extends 'base.html.twig' %}

{% block body %}
    {% if is_granted('ROLE_ADMIN') %}
        <h1>Users vAdministration</h1>
        {{ dump(users) }}
        {% for user in users %}
            {{ user.email }}
        {% endfor %}
    {% endif %}
{% endblock %}